*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  height: 564px;
  padding: 133px 30px;
  display: grid;
  grid-template-areas: "result details";
  align-items: end;
  column-gap: 30%;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  gap: 26px;
  grid-area: details;
}
